.venv
embeddings/data/raw_data.json
embeddings/data/raw_ranked_data.json
embeddings/data/raw_unranked_data.json
embeddings/data/embeddings_dataframe.csv
embeddings/data/embeddings_data.json
embeddings/data/faiss_index.index
notes.txt
backend/api/rough.ipynb
backend/api/db.sqlite3