/* Additional CSS for more control over our componental elements */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");

.h1-text-styles {
  font-weight: bold;
  font-family: "Noto sans", sans-serif;
  color: rgb(209, 248, 255);
  right: 0;
}

.image-gradient {
  width: 100%;
  height: 100%;
  color: #ff4394;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.65)
  );
}


.button-gradient-r{
  background:  linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.25)
  );
}

.button-gradient-l{
  background:  linear-gradient(to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.25)
  );
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #151515;
  box-shadow: inset 2px 2px 5px #2b2b2b, inset -2px -2px 5px #252525;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  box-shadow: inset 2px 2px 5px #151515, inset -2px -2px 5px #252525;
}

.group:hover .overlay-1 {
  transform: scale(1);
  transition: transform 0.15s ease-in-out;
}

.group .overlay-hover {
  transition: opacity 0.15s ease-in-out;
}

.group:hover .overlay-hover {
  opacity: 1;
}


.loader-box {
  margin: 2rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #eee;
  border-top: 5px solid transparent;
  border-image: linear-gradient(90deg, #dc80f3, #c500b8, #ff4364) 1;
  animation: simple-spin 1.5s ease infinite;
  box-sizing: border-box;
}

.loader-text {
  background: linear-gradient(90deg, #ff4364, #c500b8, #dc80f3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes simple-spin {
  to { transform: rotate(360deg); }
}
