.glass {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: opacity 0.3s linear;
  z-index: 1;
}

.font-poppins{
  font-family: "Poppins";
}

.glass:hover::before {
  opacity: 1;
}

.glass > * {
  position: relative;
  z-index: 2;
}
